<%# t(".#{@subject}") %>
<div id="stream-window-wrap" class="" data-subject=<%= @subject %>>
  <% if @session_code %>
    <%# live container %>
    <object id="stream-window" class="" type="text/html"
        data= <%= @live_link %>
        width="100%"
        height="600">
    </object>
  <% end %>
</div>

<%# heart beat check login js %>
