<p id="notice"><%= notice %></p>
<%= t.(".#{@subject}") %>

<%# live container %>
<object type="text/html"
    data="https://www.bilibili.com/"
    width="70%"
    height="500">
</object>

<%# heart beat check login js %>

<%# link_to 'Edit', edit_stream_path(@stream) %> |
<%# link_to 'Back', streams_path %>
