<div class="container">
  <div class="row py-2">
    <div class="col-12 text-center">
      <%= image_tag("logo_horizontal.png", width: "200px") %>
    </div>
    <div class="col-12 pt-1 text-center">
      <span class="h5 font-weight-bold">
        2019年秋“前沿课堂”会议视频征订
      </span>
    </div>
  </div>

  <div class="row ">

    <div class="col-12 rounded my-2 ">
      <div class="card ">
        <div class="card-header font-weight-bold">
          会议视频征订
        </div>
        <div class="card-body">
          <%= link_to "https://jinshuju.net/f/ypPT7L", class: "inline-block" do %>
            <p class="m-0">2019年秋全国小学数学</p>
            <p class="m-0">2019年秋全国小学语文</p>
            <p class="m-0">2019年秋全国小学英语</p>
            <p class="m-0">2019年秋全国初中英语</p>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to "https://jinshuju.net/f/ypPT7L/s/QXYt3u", class: "btn btn-primary btn-block my-3 mx-3" do %>
      2019年秋季已征订查询
    <% end %>

  </div>



</div>
