<div class="container">
  <div class="row py-2">
    <div class="col-12 text-center">
      <%= image_tag("logo_horizontal.png", width: "200px") %>
    </div>
    <div class="col-12 pt-1 text-center">
      <span class="h5 font-weight-bold">
        2019年前沿课堂全国中小学学科
        <br>
        教学论文评比活动（秋季）
      </span>
    </div>
  </div>

  <div class="row ">

    <div class="col-12 rounded my-2 ">
      <div class="card ">
        <div class="card-header font-weight-bold">
          教学论文评比活动
        </div>
        <div class="card-body">
          <!-- 完整通知 -->

          <p class="mb-2">填写报名表，线上报名：</p>
          <%= link_to "点击报名", "https://jinshuju.net/f/6R0xS6", class: "btn btn-success" %>

        </div>
      </div>
    </div>

    <%= link_to "https://jinshuju.net/f/6R0xS6/s/c7elri", class: "btn btn-primary btn-block my-3 mx-3" do %>
      已报名查询
    <% end %>

  </div>



</div>
