<div class="container">
  <div class="row">
    <div class="col-12 blue darken-4 text-white py-3">
      <span class="h5">
        <i class="fas fa-list-ul mr-2"></i>
        2018年秋“前沿课堂”线上报名
      </span>
    </div>
  </div>
  <div class="row px-1">
    <div class="col-12 rounded my-3 px-2 py-3 shadow border-left border-info" style="border-left-width:5px !important;color:black;">
      请点以下链接进入相应会议报名界面，报名信息提交成功后，请按报名人数将会务费汇款至以下账号：</br>
      1、账户：北京前沿课堂教育科技有限公司</br>
      2、开户行：中国建设银行北京金源支行</br>
      3、帐号：1105 0161 6200 0000 0350</br>
      <!-- <ol>
        <li>账户名称：北京前沿课堂教育科技有限公司</li>
        <li>开户行：中国建设银行北京金源支行</li>
        <li>帐号：1105 0161 6200 0000 0350</li>
      </ol> -->
        <!-- 特别提示：此通道仅供广西区外报名使用！广西区内老师请按区内通知要求报名。 -->
    </div>

    <div class="col-12 rounded mb-3 py-3 border">
      <%= link_to "http://www.qiye168.com.cn/ws/wx/index?ws=1", class: "inline-block" do %>
        <h5 class="">小学语文</h5>
        <p class="m-0">2018年“前沿课堂”全国小学语文“统编”教材教学观摩研训会</p>
      <% end %>
    </div>

    <div class="col-12 rounded mb-3 py-3 border">
      <%= link_to "http://www.qiye168.com.cn/ws/wx/index?ws=2", class: "inline-block" do %>
        <h5 class="">初中语文</h5>
        <p class="m-0">2018年“前沿课堂”全国初中语文“统编”教材教学观摩研训会</p>
      <% end %>
    </div>

    <div class="col-12 rounded mb-3 py-3 border">
      <%= link_to "http://www.qiye168.com.cn/ws/wx/index?ws=3", class: "inline-block" do %>
        <h5 class="">高中语文</h5>
        <p class="m-0">2018年全国高中语文新课标前沿课堂教学观摩研训会</p>
      <% end %>
    </div>

  </div>
</div>
