<%= form_with(model: dvd_result, local: true) do |form| %>
  <% if dvd_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dvd_result.errors.count, "error") %> prohibited this dvd_result from being saved:</h2>

      <ul>
      <% dvd_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
