<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  	<div class="card col-12 px-0">
      <div class="card-header">
        <span class="h5"><%= @dvd_result.form_name %></span>
      </div>
      <div class="card-body">
  	    <div class="card-text">
  			<%#  reject_rows(Entry.new(result: @result).values).each do |k, v| %>
  			<%  Entry.new(result: @dvd_result).values.each do |k, v| %>
  				<p>
            <b><%= "#{k}:"%></b>
  					<%= compile_value(v) %>
  				</p>
  			<% end %>
  	     <%= link_to '返回', { controller: "dvd_results",action: 'index', subject: @dvd_result.class.name}, class: "waves-effect waves-light btn blue darken-1 white-text" %>
  	    </div>
      </div>
  	</div>


  </div>
</div>
